<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request form-signin">
    <div>
        {% if invalid_username is defined %}
            <p>Пользователь с электронным адресом "{{invalid_username}}" не найден или не является региональным менеджером</p>
        {% endif %}
        <label for="username">Email:</label>
        <div class="controls">
            <input type="email" id="username" name="username" class="input-block-level" required="required" />
        </div>
    </div>
    <br>
    <div>
        <input type="submit" value="Восстановить пароль" class="btn btn-primary btn-large" />
    </div>
</form>
