{% extends 'base.html.twig' %}

{% block content %}
    {% if status_code == 404 %}
        <div class ="center-block-other" >
            <h1>Данная страница не существует</h1>
            <img src="/error404.jpg" alt="error404" title="error404">
        </div>
    {% elseif status_code == 403 %}
        <div class ="center-block-other" >
            <h1>Доступ к данной странице запрещен</h1>
            <img src="/error403.png" alt="error403" title="error404">
        </div>
    {% elseif status_code == 500 %}
        <div class ="center-block-other" >
            <h1>Непредвиденная ошибка сервера</h1>
            <img src="/error500.png" alt="error500" title="error404">
        </div>
    {% elseif status_code == 503 %}
        <div class ="center-block-other" >
            <h1>Service Temporarily Unavailable</h1>
            <img src="/error503.png" alt="error503" title="error404">
        </div>
    {% endif %}
{% endblock %}