<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Мега Админка{% endblock %}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/front/css/bootstrap.min.css') }}" >
    <link rel="stylesheet" href="{{ asset('bundles/front/css/adminStyle.css') }}" >

    <script src="{{ asset('bundles/front/js/jquery-1.12.0.min.js') }}"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ asset('bundles/front/js/bootstrap.min.js') }}" ></script>

    <!-- Stylesheets -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,500italic,500,300italic,300'
          rel='stylesheet' type='text/css'>

    <!-- Scripts -->
    {% block head %}
    {% endblock %}

</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('admin_main') }}">RENT VK ADMIN PANEL</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('admin_main') }}">Home</a></li>
                <li><a href="{{ path('sonata_admin_dashboard') }}">Sonata Admin</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Выход</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<!-- content -->
<div class="container">
    <div class="content-center">
        <h1>Привет, мир!</h1>
        <h1 class="black-color">Чудо Юдо Админка</h1>
        {% block content %}
        {% endblock %}
    </div>

</div>
<!-- /content -->

<div id="footer">
    <div class="container">
        <p class="text-muted">© Company 2016.</p>
    </div>
</div>
</body>
</html>
