{% extends 'BackEndBundle::adminBase.html.twig' %}

{% block title %}Добавление группы{% endblock %}

{% block content %}
    <div class="container big">
        <h3>Настройки групп вк</h3>
        <div class="row">
            <div class="col-xs-7 col-lg-7 col-md-7">
                <form action="{{ path('admin_add_group') }}" {{ form_enctype(form) }} method="POST" >
                    {{ form_rest(form) }}
                    <a href="{{ path('admin_vk_groups') }}" class="btn btn-danger">Отмена</a>
                </form>
            </div>
        </div>

    </div>
{% endblock %}

