{% extends 'BackEndBundle::adminBase.html.twig' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h1 class="black-color">Жуткая Поебень</h1>
    <div class="mfControls btn-group">

        <a href="{{ path('admin_vk_groups') }}"
           class="btn btn-info">Настройка парсинга групп</a>
    </div>
{% endblock %}

