{% extends 'BackEndBundle::adminBase.html.twig' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="container big">
        <h3>Настройки групп вк</h3>
        {% if message is defined  %}
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Добавлено!</strong> {{ message }}
            </div>
        {% endif %}
        <div class="alert alert-success alert-dismissible fade in hidden" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Успешно!</strong> Удалил?! А вот хуй там, только заархивировал
        </div>
        <div class="row">
            <div class="col-xs-7 col-lg-7 col-md-7">
                {% if token %}
                    <input disabled type="text" value="{{ token.dateReset }}" style="width: 17%"> <span>Дата смены access token</span>
                {% endif %}
                <a style="margin-left: 20px;" class="btn btn-info inline-block" href="{{ path('admin_vk_auth') }}">Обновить токен</a>
            </div>
        </div>
        <br>
        <h3>Группы вк которые парсятся</h3>
        <a class="btn btn-success" href="{{ path('admin_add_group') }}">Добавить группу</a>
        <br>
        <br>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
            <table class="table table-bordered">
                <thead>
                    <th>#</th>
                    <th>Название группы</th>
                    <th>Ссылка на группу</th>
                    <th>ID группы</th>
                    <th></th>
                </thead>
                {% if vk_groups %}
                    {% for vk_group in vk_groups %}
                        <tbody>
                            <tr class="info-group">
                                <td>{{ loop.index }}</td>
                                <td>{{ vk_group.nameGroup }}</td>
                                <td>{{ vk_group.url }}</td>
                                <td>{{ vk_group.idGroup }}</td>
                                <td><a href="{{ path('admin_edit_group' , { 'id': vk_group.id } ) }}">Редактировать</a>/
                                    <a class="archive-group" href="javascript:void(0);" data-vk="{{ vk_group.id }}">Архивировать</a></td>
                            </tr>
                        </tbody>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('.info-group').on('click', '.archive-group', function(e) {
                var $archive = $(e.delegateTarget);
                var $vk_id = $(this).attr('data-vk');
                var r = confirm("Точно хочешь удалить!");
                if (r == true) {
                    $.ajax({
                        type : 'get',
                        url : '{{ path('admin_archive_group') }}'+'?vk_id='+$vk_id,
                        success: function(e) {
                            if (e == 'ok') {
                                alert('Удалил?! А вот хуй там, только заархивировал');
                                $archive.remove();
                            } else {
                                alert('Чет, как-то ничего не получилось сделать');
                            }
                        },
                        error: function() {
                            alert('Error');
                        }
                    });
                } else {
                    txt = "Отмена!";
                }

            });
        });
    </script>
{% endblock %}

