{% extends 'base.html.twig' %}

{% block title %}О нас{% endblock %}

{% block content %}
    <!--  -->
    {#
    <section class="well-md">
        <div class="container">
            <h2>О нас</h2>

            <p>Страница «О компании» не должна рассказывать о вашей компании. Посетитель должен найти здесь информацию о себе, о своих интересах и потребностях. Он должен узнать, как вы решите его проблемы и почему вы обязательно это сделаете. Создавая страницу «О нас», помните: на самом деле она называется «О вас». О них: любимых, желанных, лояльных, капризных, щедрых, экономных клиентах.</p>

        </div>
    </section>
    #}

    <!--  -->
    <section data-vide-bg="{{ asset('bundles/front/css/images/video-bg') }}" class="vide">
        <div class="container well-md relative z-index-1 text-center">
            <h2>У нас на сайте</h2>

            <div class="row offset-2 flow-offset-1">
                <div class="col-xs-6 col-md-3">
                    <div class="counter-wrap">
                        <div class="counter" data-from="{{ count_today }}" data-to="50" data-speed="900000000"></div>
                    </div>
                    <div class="heading-4 inset-3">Новых объявлений каждый день</div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="counter-wrap">
                        <span class="counter" data-from="{{ count_group }}" data-to="1250"
                              data-speed="900000000"></span><span></span>
                    </div>
                    <div class="heading-4 inset-3">Количество групп</div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="counter-wrap">
                        <div class="counter" data-from="{{ count_rent }}" data-to="3250" data-speed="900000000"></div>
                    </div>
                    <div class="heading-4 inset-3">Квартир</div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="counter-wrap">
                        <div class="counter" data-from="{{ days }}" data-to="3250" data-speed="900000000"></div>
                    </div>
                    <div class="heading-4 inset-3">До новой обновления</div>
                </div>
            </div>
        </div>
    </section>
    <section class="well-md">
        <div class="container">
            <h2></h2>

            <p>Если вам интересен наш проект можете помочь его развитию переведя сколько посчитаете нужным на <a href="https://money.yandex.ru/to/410013447954594">Яндекс Деньги</a></p>

        </div>
    </section>
    <!-- END -->
{% endblock %}