{% extends 'base.html.twig' %}

{% block title %}Контакты{% endblock %}

{% block content %}

<!--  -->
{#
<section class="">
	<div class="container">
		<h2>Контакты</h2>

		<p>Страница «О компании» не должна рассказывать о вашей компании. Посетитель должен найти здесь информацию о себе, о своих интересах и потребностях. Он должен узнать, как вы решите его проблемы и почему вы обязательно это сделаете. Создавая страницу «О нас», помните: на самом деле она называется «О вас». О них: любимых, желанных, лояльных, капризных, щедрых, экономных клиентах.</p>

	</div>
</section>
#}
<!--  -->
<section class="well-md text-center">
	<div class="container">
		<h2>Обратная связь</h2>
		<div class="row">
			<div class="col-sm-preffix-2 col-sm-8">
				<!-- RD Mailform -->
				<form class='rd-mailform' method="post" action="bat/rd-mailform.php">
					<!-- RD Mailform Type -->
					<input type="hidden" name="form-type" value="contact"/>
					<!-- END RD Mailform Type -->
					<fieldset>
						<div class="row flow-offset-3">
							<div class="col-md-6">
								<label data-add-placeholder>
									<input type="text"
									name="name"
									placeholder="Name"
									data-constraints="@NotEmpty @LettersOnly"/>
								</label>
							</div>

							<div class="col-md-6">
								<label data-add-placeholder>
									<input type="text"
									name="phone"
									placeholder="Phone"
									data-constraints="@Phone"/>
								</label>
							</div>
						</div>

						<label data-add-placeholder>
							<textarea name="message" placeholder="Message"
							data-constraints="@NotEmpty"></textarea>
						</label>

						<div class="mfControls text-center">
							<button class="btn btn-md--inset-2 btn-secondary btn-kamil-secondary" type="submit"><span>Отправить</span></button>
						</div>

						<div class="mfInfo"></div>
					</fieldset>
				</form>
				<!-- END RD Mailform -->

			</div>
		</div>
	</div>
</section>
<!-- END -->
{% endblock %}