{% extends 'base.html.twig' %}

{% block title %}Подробно{% endblock %}

{% block content %}
{% if info %}
<section class="well-custom text-center text-md-left">
	<div class="container">
			<div class="row">
	        <div class="col-md-4">
	        <div class="row">
	        {% set index = 'false' %}
		        {% if info.getMainPhoto %}
		        <div class="col-md-6 col-sm-4">
		        <a href="{{ info.getMainPhoto }}" class="flat-img" data-lightbox="roadtrip">
	            	<img src="{{ info.getMainPhoto }}" alt="">
	            </a>
	            </div>
	            	{% set index = 'true' %}

	            	{% for photo in info.photo %}
	            		{% if loop.index != 1 %}
	            		<div class="col-md-6 col-sm-4">
	            			<a href="{{ photo.bigPhoto }}" class="flat-img" data-lightbox="roadtrip">
		                		<img src="{{ photo.mediumPhoto }}" alt="">
		                	</a>
	                	</div>
	            		{% endif %}
	                
	            	{% endfor %}
	            {% else %}
	            {% for photo in info.photo %}
	            <div class="col-md-6 col-sm-4">
	                <a href="{{ photo.bigPhoto }}" class="flat-img" data-lightbox="roadtrip">
		            	<img src="{{ photo.mediumPhoto }}" alt="">
		            </a>
	            </div>
	                {% set index = 'true' %}                       
	            {% endfor %}
	            
	            {% if index == 'false' %}
	                <img src="{{ asset('bundles/front/images/no-image.png') }}" alt="">
	            {% endif %}
            {% endif %}
	        </div>
	        </div>
	        <div class="col-md-8 inset-4">
	            <h4 class="text-primary"><a href="https://vk.com/wall{{ info.ownerId}}_{{ info.vkId }}" target="_blank">Ссылка на объявление</a></h4>
				{% if info.metro %}
	           		<p>Станция метро: {{ info.metro }}</p>
				{% endif %}
	            <p>Дата публикации: {{ info.dateAdded.date|date("d.m.Y - H:i") }}</p>
	            <p class="line-height-variant-2">{{ info.text|raw }}</p>
	             <div class="col-md-12 like-box">
                                            <ul>
                                                <li><span><i class="fa fa-camera" aria-hidden="true"></i> {{ info.photo|length }}</span></li>
                                                <li><span><i class="fa fa-comments" aria-hidden="true"></i> {{ info.getLikeAmount }}</span></li>
                                                <li><span><i class="fa fa-heart" aria-hidden="true"></i> {{ info.commentAmount }}</span></li>
                                            </ul>
                                        </div>
	        </div>
	    </div>
	</div>
</section>
{% else %}
<section class="well-md text-center text-md-left">
	<div class="container text-center">
		<h2>ОБЪЯВЛЕНИЯ С ТАКИМ НОМЕРОМ НЕ СУЩЕСТВЕТ</h2>
		<a class="btn btn-md btn-primary btn-kamil-primary " href="{{ path('index') }}">На главную</a>
	</div>
</section>
{% endif %}
{% endblock %}