{% extends 'base.html.twig' %}

{% block title %}Объявления{% endblock %}

{% block content %}
{% if rents %}
<section class="text-center text-md-left">
	<div class="container">
		<h2 class="text-center">Объявления</h2>
		<div class="row flow-offset-1">
			{% for rent in rents  %}
			<div class="col-sm-6 col-md-4">
				<div class="thumb block fixed-height thumb--effect-lily">
				{% if rent.getMainPhoto %}
					<img src="{{ rent.getMainPhoto }}" width="386" height="270" alt="">
				{% else %}
					{% set index = 'false' %}
					{% for photo in rent.photo|slice(0, 1) %}
					    <img src="{{ photo.mediumPhoto }}" width="386" height="270" alt="">
					    {% set index = 'true' %}
					{% endfor %}
					{% if index == 'false' %}
						<img src="{{ asset('bundles/front/images/no-image.png') }}" width="386" height="270" alt="">
					{% endif %}
				{% endif %}
					<!--  <span class="tag">$45<span class="small">/day</span></span> -->
					<div class="thumb__overlay">
						<p>{{ rent.getText|slice(0, 300) }} {% if rent.getText|length > 300 %}...{% endif %}</p>
					</div>
				</div>
				<h4><a class="text-primary" href="{{ path('flat', {'id': rent.id}) }}">Подробнее</a></h4>
				{% if rent.metro %}
	           		<p>Станция метро: {{ rent.metro }}</p>
				{% endif %}
			</div>
			{% endfor %}
			{% else %}
			<div class="col-sm-6 col-md-4">
				<div class="thumb block fixed-height thumb--effect-lily">
					<img src="{{ asset('bundles/front/css/images/page01_img02.jpg') }}" width="416" height="270" alt="">
					<!-- <span class="tag">$49<span class="small">/day</span></span> -->
					<div class="thumb__overlay">
						<p>Located in New Jersey, Rentspace offers
							one-bedroom, two-bedroom, three-bedroom,
							and four-bedroom apartments for rent. Call
							today for pricing and availability!</p>
						</div>
					</div>
					<h4><a class="text-primary" href="#">Modera Lofts</a></h4>
					<p>Jersey City, NJ 07032</p>
				</div>
				{% endif %}
			</div>
		</div>
	</section>
{% endblock %}