{% extends 'base.html.twig' %}

{% block title %}Аренда комнат, квартир в Санкт-Петербурге | RentVK | RentWall{% endblock %}

{% block content %}

        <!--  -->
        <section class="text-center text-md-left">
         <div class="container text-center">
<!-- поиск, фильтры -->
                {# <div class="relative inset-2 offset-1 z-index-1">
                    <!-- RD Mailform -->
                    <form class='rd-mailform fixed-width-labels'>
                        <fieldset>

                            <label data-add-placeholder>
                                <input type="text"
                                       name="name"
                                       placeholder="Where do you want to go?"
                                       data-constraints="@NotEmpty @LettersOnly"/>
                            </label>
                            <button class="btn btn-md btn-secondary btn-kamil-secondary" type="submit"><span>Search</span></button>
                        </fieldset>
                    </form>
                    <!-- END RD Mailform -->
                </div> #}
            </div>
            <div class="container">
                <h2 class="text-center">Объявления</h2>
                <div class="row flow-offset-1 flats" id="flats_all">
                    {{  include('FrontBundle:Default:all_flats.html.twig', { 'rents': rents })  }}
                </div>
            </div>
        </section>
        <!-- END -->

    {{  include('FrontBundle:includeTemplates:scrollautoLoader.html.twig')  }}
{% endblock %}