{% extends 'base.html.twig' %}

{% block title %}Аренда комнат, квартир в Санкт-Петербурге | RentVK | RentWall{% endblock %}

{% block content %}

    <section class="text-center text-md-left">
        <div class="container text-center">
        </div>
        <div class="container">
            <h2 class="text-center">Квартиры по тегу: #{{ type_metro.Name }}</h2>
            <div class="row flow-offset-1 flats" id="flats_all">
                {{  include('FrontBundle:Default:all_flats.html.twig', { 'rents': rents })  }}
            </div>
        </div>
    </section>
    <!-- END -->

    {{  include('FrontBundle:includeTemplates:scrollautoLoader.html.twig', {'type' : 'metro', 'value_type' : type_metro.id } )  }}
{% endblock %}