{% extends "base.html.twig" %}
{% block content %}
    <div class="row" style="margin-top: 45px;">
        <div class="col-md-4 col-sm-4 col-xs-4"></div>
        <div class="col-md-4 col-sm-4 col-xs-4"> <!-- col-lg-12 col-md-12 -->
            <h2 class="text-center">Registration</h2>
            <div style="padding: 0px;">
                {% if error is defined  and error != '' %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        {% if error == 'login' %}
                            {{ 'Bad login'|trans }}
                        {% else  %}
                            {{ 'Bad passwd'|trans }}
                        {% endif %}
                    </div>
                {% endif %}

                <form style="padding: 10px;" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" id="form-reg">
                    {{ form_errors(form) }}
                    {{ form_errors(form.username) }}
                    {{ form_widget(form.username, { 'attr': {'class': 'form-control','placeholder': 'Enter email'|trans, 'style': 'margin-top: 0px;'} }) }}

                    {{ form_errors( form.plainPassword ) }}
                    {{ form_errors(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control pass', 'placeholder': 'Enter password'|trans,  'style': 'margin-top: 20px;'} }) }}
                    {{ form_errors(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control pass', 'placeholder': 'Repeat password'|trans, 'style': 'margin-top: 20px;'} }) }}
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control','placeholder': '', 'style': 'display: none;'} }) }}
                    {{ form_row(form._token) }}
                    {{ form_errors(form.firstName) }}
                    {{ form_widget(form.firstName, { 'attr': {'class': 'form-control','placeholder': 'Enter first name'|trans, 'style': 'margin-top: 20px;'} }) }}
                    {{ form_errors(form.lastName) }}
                    {{ form_widget(form.lastName, { 'attr': {'class': 'form-control','placeholder': 'Enter last name'|trans, 'style': 'margin-top: 20px;'} }) }}
                    <br/>
                    <input style="width: 100%; margin-top: 18px;" type="submit" name="submit" class="btn btn-lg btn-success" value="{{ 'Reg'|trans }}">
                </form>

            </div>

        </div>
        <div class="col-md-4 col-sm-4 col-xs-4"></div>

    </div>
    <script>
        $('.btn-lg').on('click', function(){
            $('#fos_user_registration_form_email').val($('#fos_user_registration_form_username').val());
        });
    </script>
{% endblock %}