{% extends "base.html.twig" %}
{% block content %}
    <div class="container">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div style="text-align: center;">
                <h2 style="margin-top: 60px;">{{ 'success regisration'|trans }}</h2>
                <span>

                </span>
            </div>
        </div>
    </div>
{% endblock %}