<!DOCTYPE html>
<html lang="en" class="wide smoothscroll wow-animation">
<head>
    {{  include('FrontBundle:includeTemplates:yandex_metrika.html.twig')  }}
    <meta charset="UTF-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

    <title>{% block title %}Аренда комнат, квартир в Санкт-Петербурге | RentVK | RentWall{% endblock %}</title>
    <link rel="icon" href="{{ asset('bundles/front/css/images/favicon.ico') }}" type="image/x-icon">

    <!-- Stylesheets -->
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700%7CUbuntu:400,300,300italic,400italic,500,500italic,700,700italic'
          rel='stylesheet' type='text/css'>
    <link type="text/css" href="{{ asset('bundles/front/css/font-awesome.min.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ asset('bundles/front/css/lightbox.min.css') }}" rel="stylesheet">

    <link type="text/css" href="{{ asset('bundles/front/css/style.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    <!--[if lt IE 10]>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
    <script src="{{ asset('bundles/front/js/jquery-1.12.0.min.js') }}"></script>

    {% block head %}
    {% endblock %}

</head>
<body>
{{  include('FrontBundle:includeTemplates:google_analitick.html.twig')  }}
<!-- The Main Wrapper -->
<div class="page">

    <!--For older internet explorer-->
    <div class="old-ie"
         style='background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="{{ asset('bundles/front/css/images/warning_bar_0000_us.jpg') }}" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <!--END block for older internet explorer-->

    <!--========================================================
                              HEADER
                              =========================================================-->
    <header class="page-header">
        <!-- RD Navbar -->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar" data-rd-navbar-lg="rd-navbar-static">
                <div class="rd-navbar-inner well-xxs">
                    <!-- RD Navbar Panel -->
                    <div class="rd-navbar-panel">

                        <!-- RD Navbar Toggle -->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar"><span></span></button>
                        <!-- END RD Navbar Toggle -->

                        <!-- RD Navbar Brand -->
                        <div class="rd-navbar-brand">
                            <a href="{{ path('index') }}">
                                {#<img src="/logoRentWall.png" style="margin-top: -11px;width: 300px;">#}

                                <span class="brand-name">RentWall</span> <br>
                                <span class="brand-slogan">Легко найти квартиру</span>

                            </a>
                        </div>
                        <!-- END RD Navbar Brand -->

                    </div>
                    <!-- END RD Navbar Panel -->

                    <div class="rd-navbar-nav-wrap">

                        <!-- RD Navbar Nav -->
                        <ul class="rd-navbar-nav">
                            <li class="{% if app.request.attributes.get('_route') == 'index' %}active{% endif %}">
                                <a href="{{ path('index') }}">Главная</a>
                            </li>
                            <li class="{% if app.request.attributes.get('_route') == 'about' %}active{% endif %}">
                                <a href="{{ path('about') }}">О нас</a>
                            </li>
                            {# <li>
                                 <a href="{{ path('flats') }}">Объявления</a>
                             </li> #}
                            <li class="{% if app.request.attributes.get('_route') == 'contacts' %}active{% endif %}">
                                <a href="{{ path('contacts') }}">Контакты</a>
                            </li>
                        </ul>
                        <!-- END RD Navbar Nav -->
                    </div>

                    <!--RD Navbar Collapse Toggle-->
                    <div class="login-form">
                        {#   <button class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-collapse">
                               <span class="icon icon-xs"></span>
                           </button> #}
                        <div class="rd-navbar-collapse">
                            <div class="rd-navbar-collapse-inner">
                                <h5>Авторизоваться</h5>
                                {% if app.user.id is defined %}
                                    <div class="mfControls btn-group">
                                        <a href="{{ path('fos_user_security_logout') }}"
                                           class="btn btn-md--inset-1 btn-secondary btn-kamil-secondary btn-fixed-width"><span>Выход</span></a>
                                    </div>
                                {% else %}
                                    <!-- RD Mailform -->
                                    <form class='rd-mailform' action="{{ path("fos_user_security_check") }}"
                                          method="post" role="form">

                                        <!-- RD Mailform Type -->
                                        <!--<input type="hidden" name="form-type" value="login"/>-->
                                        <!-- END RD Mailform Type -->

                                        <fieldset>
                                            <label>
                                                <input type="text"
                                                       name="_username"
                                                       placeholder="{{ 'Enter email'|trans }}"
                                                       data-constraints="@NotEmpty"/>
                                            </label>

                                            <label>
                                                <input type="password"
                                                       name="_password"
                                                       placeholder="{{ 'Enter password'|trans }}"
                                                       data-constraints="@NotEmpty"/>
                                            </label>

                                            {#                <label class="mfCheckbox">
                                                            <input type="checkbox" class="mfCheckbox__input"><span>Remember me</span>
                                                        </label>
                                                        #}
                                            <input type="hidden" name="_csrf_token"
                                                   value="{{ app.request.cookies.get('csrfToken') }}"/>

                                            <div class="mfControls btn-group">
                                                <button type="submit"
                                                        class="btn btn-md--inset-1 btn-secondary btn-kamil-secondary btn-fixed-width">
                                                    <span>Войти</span></button>
                                                <a href="{{ path('page_registration') }}"
                                                   class="btn btn-md btn-primary btn-kamil-primary btn-fixed-width"><span>Зарегистрироваться</span></a>
                                            </div>
                                            <p>Забыли <a class="text-secondary-lighten" href="#">пароль</a>?</p>

                                        </fieldset>

                                    </form>
                                {% endif %}
                                <!-- END RD Mailform -->

                            </div>
                        </div>
                    </div>
                    <!--END RD Navbar Collapse Toggle-->

                </div>
            </nav>
        </div>
        <!-- END RD Navbar -->
    </header>


    <!--========================================================
      CONTENT
      =========================================================-->
    <main class="page-content">
        <!--  -->
        {% block content %}
        {% endblock %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

    </main>

    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    {% block my_scripst %}{% endblock %}
    <!--========================================================
      FOOTER
      ==========================================================-->
    <footer class="page-footer well-xs bg-grayscale-lightest text-center text-md-left">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <address><a href="mailto:akakfreelan@gmail.com"><span class="icon icon-sm icon-secondary fa-map-marker"></span>akakfreelan@gmail.com</a>
                    </address>

                </div>
                <div class="col-md-3 col-lg-3">
                    <a href='callto:#'><span class="icon icon-sm icon-secondary fa-phone"></span>+7981 856-22-92</a>
                </div>
                <div class="col-md-3 col-lg-2">
                    <!-- Inline List -->
                    <ul class="inline-list">
                        <li><a href="#" class="icon icon-lg icon-default fa-facebook"></a></li>
                        <li><a href="#" class="icon icon-lg icon-default fa-twitter"></a></li>
                        <li><a href="#" class="icon icon-lg icon-default fa-instagram"></a></li>
                        <li><a href="https://new.vk.com/rentwall" target="_blank" class="icon icon-lg icon-default fa-vk"></a></li>
                    </ul>
                    <!-- END Inline List -->
                </div>
            </div>

        </div>
    </footer>

</div>
</body>
<!-- Scripts -->
<!-- Core Scripts -->
<script src="{{ asset('bundles/front/js/core.min.js') }}"></script>
<script src="{{ asset('bundles/front/js/lightbox.min.js') }}"></script>

<!-- Additional Functionality Scripts -->
<script src="{{ asset('bundles/front/js/script.js') }}"></script>
</html>

