{% extends "widewebHrscannerBundle::base.html.twig" %}
{% block content %}
<div class="container">
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
</div>
{% endblock content %}
