{#% if app.user.userRoles.name == 'region_manager' or (app.user.userRoles.name == 'regulator' and app.user.allowAddUsers == 1) %#}
<div class="panel" style="margin-top:0px;">
    <div class="panel-body">
<center><h1>Новый пользователь</h1></center>
<div class="form_with_inputs">
    <div class="col-md-2 col-sm-2 col-xs-2"></div>
    <div class="col-md-8" style="margin: 0 auto;">
        <div class="col-md-6" style="margin: 0 auto;">
    {% form_theme form 'widewebHrscannerBundle:Form:editUserFields.html.twig' %}
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
        {{ form_errors(form) }}
        <div style="margin-bottom: 5px;">
          {{ form_label(form.username,'Логин:') }}
          {{ form_errors(form.username) }}
          {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
          <!--<span class="help">используется для входа<br>в CRM-систему</span> -->
        </div>
        {{ form_errors( form.plainPassword ) }}
        <div style="margin-bottom: 5px;">
            {{ form_label(form.plainPassword.first,'Пароль:') }}
            {{ form_errors(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
            <!-- <span class="help vertical vertical-2">этот пароль будет<br>вводить новый пользователь</span> -->
        </div>
        <div style="margin-bottom: 5px;">
            {{ form_label(form.plainPassword.second,'Подтвердите пароль:') }}
            {{ form_errors(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
        </div>
      <div style="margin-bottom: 5px;">
          {{ form_label(form.email,'Почта:') }}
          {{ form_errors(form.email) }}
          {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
          <!-- <span class="help">необходима для восстановления<br>пароля</span> -->
        </div>

        <div style="margin-bottom: 5px;">
          {{ form_label(form.firstName,'Имя:') }}
          {{ form_errors(form.firstName) }}
          {{ form_widget(form.firstName, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div style="margin-bottom: 5px;">
          {{ form_label(form.lastName,'Фамилия:') }}
          {{ form_errors(form.lastName) }}
          {{ form_widget(form.lastName, { 'attr': {'class': 'form-control'} }) }}
        </div>
            <div style="margin-bottom: 5px;">
                {{ form_label(form.tarif,'Тариф:') }}
                {{ form_errors(form.tarif) }}
                {{ form_widget(form.tarif, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div style="margin-bottom: 5px;">
          {{ form_label(form.userRoles,'Права:') }}
          {{ form_errors(form.userRoles) }}
          {{ form_widget(form.userRoles, { 'attr': {'class': 'form-control'} }) }}
        </div>
            {{ form_rest(form) }}
        <br/>
        <div class="group">
            <div>
                <label>&nbsp;</label><input type="submit" value="Создать пользователя" class="btn btn-primary" />
            </div>
        </div>
    </form>
            </div>
    </div>
</div>
    </div></div>
