<script>
    var $page_count = 1;
    $(document).ready(function(){
        $("#loader").hover(function(){
            moreData();
        })
        var screenHeight = $(window).height();

        $(window).scroll(function()
        {
            var scroll = $(this).scrollTop();
            var divHeight = $("#flats_all").height();
            var totalHeight = screenHeight + scroll;
            var left = divHeight - totalHeight;
            if (left < 10)
                moreData();
        });
    });

    var done=1;
    function moreData()
    {
        if (done==1)
        {
            $("#loader").toggleClass("active").html("Загрузка").css("opacity", 1);
            done=0;
            $.ajax({
                type : 'post',
                url : '{{ path('page_ajax_scroll') }}',
                data : {
                    'page' : $page_count,
                    {% if type is defined and value_type is defined %}
                        'type' : '{{ type }}',
                        'value_type' : {{ value_type }},
                    {% endif %}
                },
                success: function(e) {
                    $page_count += 1;
                    $("#flats_all").append(e).fadeIn();
                    done=1;
                    $("#loader").toggleClass("active").html("Еще").css("opacity", 0.5);
                },
                error: function() {
                    alert('Error');
                }
            });
        }
    }
</script>