<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- test 1 -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=1170px">
    <title>Login</title>
    <link rel="icon" type="image/png" href="/favicon.png">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/widewebhrscanner/css/bootstrap.min.css') }}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{{ asset('bundles/widewebhrscanner/css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/widewebhrscanner/css/simple-line-icons.css') }}">
    <link href="{{ asset('bundles/widewebhrscanner/css/style.main.css') }}" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ asset('bundles/widewebhrscanner/js/jquery-latest.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/widewebhrscanner/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/widewebhrscanner/js/sha512.js') }}"></script>

</head>
<body style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">

<div class="container">
    <div style="padding-left: 10px; font-size: 2em; line-height: 2.3em; text-align: center; width: 100%; padding-top: 50px;"><img src="/img/logo.png" style="width: 150px; height: 45px; margin-top: 7px;"></div>
    <div style="text-align: center; margin-top:20px;"><h3>Авторизация</h3></div>
</div>
        <div style="float:right">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': ''}, 'FOSUserBundle') }}<a href="{{ path('fos_user_profile_edit') }}">{{app.user.username}}</a> |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
                <br>
            {% else %}
                {#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
            {% endif %}
        </div>
        <div class="container">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
</body>
<!-- script 1 -->
</html>
