{% if rents %}
    {% for rent in rents  %}
        <div class="col-sm-6 col-md-3">
            
                <div class="row flow-offset-1">
                    <div class="col-md-4">
                        {% if rent.getMainPhoto %}
                            <img src="{{ rent.getMainPhoto }}" alt="">
                        {% else %}
                            {% set index = 'false' %}
                            {% for photo in rent.photo|slice(0, 1) %}
                                <img src="{{ photo.mediumPhoto }}" alt="">
                                {% set index = 'true' %}
                            {% endfor %}
                            {% if index == 'false' %}
                                <img src="{{ asset('bundles/front/images/no-image.png') }}" alt="">
                            {% endif %}
                        {% endif %}

                    </div>
                    <div class="col-md-8">
                        {% if rent.metro %}
                            <p class="metro-block"><strong>Станция метро:</strong> <span class="text-secondary">{{ rent.metro }}</span></p>
                        {% endif %}

                        {% if rent.getHashTags|length > 0 %}
                            {% for tag in rent.getHashTags %}
                                <span class="click" data-tag="{{ tag.id }}" data-path="{{ tag.type }}">
                                    #{{ tag.name }}&nbsp;
                                </span>
                            {% endfor %}
                        {% endif %}
                        <p class="text-no-tags">{{ rent.getTextNoTags|slice(0, 80)}} {% if rent.getTextNoTags|length > 80 %}...{% endif %}</p>
                       <a class="read-more" href="{{ path('flat', {'id': rent.id}) }}"><h4 class="text-primary text-right">Подробнее</h4></a>
                        <div class="col-md-12 like-box">
                            <ul>
                                <li><span><i class="fa fa-camera" aria-hidden="true"></i> {{ rent.photo|length }}</span></li>
                                <li><span><i class="fa fa-comments" aria-hidden="true"></i> {{ rent.commentAmount }}</span></li>
                                <li><span><i class="fa fa-heart" aria-hidden="true"></i> {{ rent.getLikeAmount }}</span></li>
                            </ul>
                        </div>
                    </div>

                </div>
            
        </div>
    {% endfor %}
{% endif %}
{% block my_scripst %}
    <script>
        $('.click').on('click', function() {
            var tag_id = $(this).data('tag');
            var tag_path = $(this).data('path');
            if (tag_path == 'metro') {
                window.location.href = '{{ path('metro') }}'+'?type='+tag_id;
            } else {
                window.location.href = '{{ path('room') }}'+'?type='+tag_id;
            }
            // alert('re');

        });
    </script>
{% endblock %}