{% extends "base.html.twig" %}

{% block fos_user_content %}

{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
    <div class="container">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                <strong class="danger-color">{{ 'Error'|trans }}!</strong> {{ 'BadData'|trans }}
            </div>
        {% endif %}
        <div class="row">

            
            <div class="col-md-4 col-md-offset-4 text-center">
            <div class="form-group">
                <h5>Авторизоваться</h5>
            </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="form-group">
                    <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" required="required" placeholder="{{ 'Enter email'|trans }}"/>
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="_password" class="form-control" required="required"  placeholder="{{ 'Enter password'|trans }}" />
                </div>
                <input class="btn btn-md btn-primary btn-kamil-primary btn-fixed-width"  type="submit" id="_submit" name="_submit" value="{{ 'Login'|trans }}" />
            </div>

        </div>

    </div>

</form>
<!-- login-form-->
{% endif %}
{% endblock fos_user_content %}
